# compiled output
/dist
/build

# dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-error.log*

# environment variables
.env
.env.*

# IDEs and editors
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db
